// On document ready, initialize noUiSlider.
script(type="text/javascript").
	$("#slider").noUiSlider({
		start: [10, 200], //- Preis Anfang, Preis Ende
		connect: true,
		range: {
			'min': 10, //- Preis Anfang
			'max': 200 //- Preis Ende
		}
	});