meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="Viewport", content="width=device-width, initial-scale=1")

meta(name="description", content="Kinderwagen-Berater, -Finder & -Daten | PAULA")
meta(name="keywords", content="kinderwagen, berater, finder, technische daten, vergleich")
meta(name="author", content="Paula")

title= "Paula - Kinderwagen-Berater"

//- Boostrap CSS
link(rel="stylesheet", href="css/bootstrap.min.css")

//- Custom CSS
//- link(rel="stylesheet", href="css/freelancer.css")
link(rel="stylesheet", href="css/sb-admin.css")


//- NoUi Slider CSS
link(rel="stylesheet", href="css/jquery.nouislider.min.css")

//- Custom Fonts
link(rel="stylesheet", href="font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat:400,700")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic")

//- jQuery
script(type="text/javascript", src="js/jquery.js")

//- Bootstrap JavaScript
script(type="text/javascript", src="js/bootstrap.min.js")

//- NoUi Slider JavaScript
script(type="text/javascript", src="js/jquery.nouislider.min.js")

//- Custom Theme JavaScript
script(type="text/javascript", src="js/freelancer.js")